[submodule "libft"]
	path = libft
	url = https://github.com/jandrana/libft
[submodule "ft_printf"]
	path = ft_printf
	url = https://github.com/jandrana/ft_printf
[submodule "get_next_line"]
	path = get_next_line
	url = https://github.com/jandrana/get_next_line
[submodule "born2beroot"]
	path = born2beroot
	url = https://github.com/jandrana/born2beroot
[submodule "minitalk"]
	path = minitalk
	url = https://github.com/jandrana/minitalk
